
{% extends "base.html" %}

{% block header %}
    {% include "single_post_header.html" %}
{% endblock %}

{% block content %}
    <section class="posts">
        {% if post %}
            <article class="post">
                <header> 
                    <h4>
                        {{ post.metadata.date }}

                        {% if post.metadata.tags %}
                        <span> on {{ post.metadata.tags }}</span>
                        {% endif %}
                    </h4>

                    <h3>{{ post.metadata.title }}</h3>
                </header> 

                {{ post.content }}
                
                <footer>by {{ blog_author }}</footer>
            </article>
        {% endif %}
    </section>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
    <script type="text/javascript" src="{{ blog_url }}/{{themes_dir}}/spooky/assets/js/prism.js"></script>
{% endblock %}

