<!doctype html>
<head>
    {% block head %}
        <title>{{ blog_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="templates/spooky/assets/css/main.css" type="media/screen">
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>

<body>

{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
</body>
</html>
