html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #aaa;
}
a:hover, a.active {
    color: #57A3E8;
}

.error { text-align: center; }

#header {
    background: #303538;
    color: #f0f0f0;
    text-align: center;
    padding: 15% 0 15% 0;
    margin-bottom: 50px;
}
#single-post-header {
    text-align: center;
    border-bottom: 1px solid #ddd; 
    margin-bottom: 20px;
}
#single-post-header a {
    color: #444;
}
#single-post-header a:hover {
    color: #57A3E8;
}
#footer {
    text-align: center;
    color: #aaa;
}

.posts {
    width: 700px;
    margin: 0 auto;
}
.post {
    margin-bottom: 60px;
}

.post header a {
    color: #444;
}
.post header a:hover {
    color: #57A3E8;
}
.post header h4 {
    color: #aaa;
    font-size: 11px;
    margin: 0 0 10px 0;
}
.post header h3, .post header h3 a {
    margin: 0 0 20px 0;
    font-size: 28px;
}
.post p {
    font-family: 'Noto serif', serif;
    font-size: 16px;
    line-height: 24px;
}
.return {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #aaa;
}

/** Plugin Styles **/
.archive-links {
    margin-bottom: 50px;
}
.archive-links ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

@media screen and (max-width: 980px) {
    .posts {
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .posts {
        width: 90%;
    }
}
@media screen and (max-width: 480px) {
    .posts {
        width: 95%;
    }
}

