<!doctype html>
<head>
    <title>{{ blog_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/css/main.css" type="media/screen">
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
{% include "header.html" %}

<section class="posts">
    {% for post in posts %}
        <article class="post">
            <header> 
                <h4>
                    {{ post.metadata.date }}

                    {% if post.metadata.tags %}
                    <span> on {{ post.metadata.tags }}</span>
                    {% endif %}
                </h4>

                <h3><a href="{{ blog_url }}/{{ post.metadata.slug }}">{{ post.metadata.title }}</a></h3>
            </header> 

            {% if post.summary %}
                {{ post.summary }} ...
            {% else %}
                {{ post.content }}
            {% endif %}

        </article>
    {% endfor %}
</section>

{% include "footer.html" %}
</body>
</html>
